<div class="just-join">
   
    <div class="container">
        <h1>
            {{page_title}}
        </h1>
        <div class="inner-txt-sect">
            <div class="row">
                <div class="col-xs-12 col-sm-4 video-img">
                    <div class="w-100" #interSectWidth></div>
                </div>
            </div>
            <div class="row" *ngFor="let join of just_join">
                <div class="col-xs-12 col-sm-4 video-img">
                    <ng-container *ngIf="join.matched != null; else elseBlock">
                        <div class="vimeo-full-width" style="padding: 56.25% 0 0 0; position: relative;">
                            <iframe [src]="join.videoFarme" style="width:100%; position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;" allow="autoplay" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                        </div>
                    </ng-container>
                    <ng-template #elseBlock>
                        <video _ngcontent-coverr-redesign-c19="" allowfullscreen="false" preload="auto"  loop src="{{join.video_link}}" class="ng-star-inserted" width="100%" height="100%" controls></video>
                    </ng-template>
                </div>
                <div class="col-xs-12 col-sm-8 conttent-txt">
                    <h3>
                        {{join.heading}}
                    </h3>
                    <p>
                        {{join.description | helpAndSupport}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
