<div mat-dialog-content >
    <ngx-spinner></ngx-spinner>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="login-popup">
                    <div class="overlay"></div>
                    <div class="container">
                        <form class="popup-feild" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                            <h2>
                                Forgot Your Password
                            </h2>
                            <span class="cross" (click)="dismissModal()">
                                <i class="fa fa-times" aria-hidden="true" ></i>
                            </span>
                            <div class="inner-form">
                                <div class="form-group input-txt">
                                    <label>
                                        Forgot your password? Enter your email address and we'll send you a link to create a new password.
                                    </label>
                                    <input matInput type="email" name="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$" placeholder="Email address">

                                    <div class="fgt-pass" *ngIf="errorMessage && !f.email.errors" style="color:red ;   font-size: 13px;">
                                        {{errorMessage}}
                                    </div>

                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback err">
                                        <div *ngIf="f.email.errors.required">
                                            Please enter the e-mail address
                                        </div>

                                        <div *ngIf="f.email.errors?.pattern">
                                            E-mail must be a valid e-mail address
                                        </div>
                                    </div>
                                </div>
                                <div class="login-btn">
                                    <button class="login" matInput type="submit" value="">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>