<div class="safety-section">
   <ngx-spinner></ngx-spinner>
   <div class="container">
        <h1 *ngIf="safety_guide">
            {{safety_guide.text}}
        </h1>
       <div class="row inner-txt-sect ">
           <div class="col-xs-12 col-sm-12">
            <h2 *ngIf="safety_guide">
                {{safety_guide.heading1}}
            </h2>
             <p *ngIf="safety_guide">
                 {{safety_guide.description1 | helpAndSupport}}
            </p>
            <div class="saftey-image" *ngIf="safety_guide">
                <video _ngcontent-coverr-redesign-c19="" allowfullscreen="false" preload="auto"  loop src="{{safety_guide.video}}" class="ng-star-inserted" width="100%" height="100%" controls></video>
            </div>
            <h2 *ngIf="safety_guide">
                {{safety_guide.heading2}}
            </h2>
            <p *ngIf="safety_guide.description2">
                {{safety_guide.description2 | helpAndSupport}}
            </p>
           </div>
       </div>
   </div>
</div>