 /* Model css end */


 
 .popup-feild {
    background: #fff;
    margin: 0 auto;
    /* border: 2px solid #fff; */
    border-radius: 4px;
    position: relative;
}
.popup-feild {
    border: 0px solid #fff;
}
.popup-feild h2 {
    background: linear-gradient(to right, #9d3aba, #e51197);
    text-align: center;
    color: #fff;
    font-size: 1.5625rem;
    font-weight: bold;
    padding: 6px 0 10px;
    margin-bottom: 0;
}

.inner-form {
    padding: 10px 30px;
}

.inner-form {
    flex-wrap: wrap;
    padding: 16px 0px;
    display: flex;
    justify-content: center;
}

 button.continue {
    background: linear-gradient(to right, #9d3aba, #e51197);
    border-radius: 50px;
    padding: 4px 7px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border: 0;
    margin: 14px auto 0;
    text-align: center;
    display: block;
    text-transform: capitalize;
    width: 50%;
    max-width: 140px;
}

span.cross {
    position: absolute;
    right: -5px;
    top: -8px;
    background: #fff;
    border-radius: 100%;
    padding: 0px 6px;
    color: #9a3cbc;
    border: 1px solid;
}

.modal-body {
    /* position: relative; */
    padding: 0px !important;
}

.modal-content {
    border: 2px solid #fff;
}

.modal-dialog .container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 576px){
    .modal-dialog {
        max-width: 368px !important;
        margin: 0;
    }

}
@media(max-width:1024px){
    button.continue{
        margin: 14px auto 0;
    }
}