<div class="change-pass" [ngStyle]="{'background' : 'url(assets/home-img/form-back.jpg)'}">
    <div class="logo-hed">
      <img src="assets/home-img/logo-white.png" alt="">
    </div>
    <div class="container">
        <form class="start-feild" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <div class="inner-form inner-cont forgot-pas">
                <label>New Password:</label>
                <input matInput #passwordField type="password" name="pass" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" (keyup)="pressPass()" (focus)="showTool()" (focusout)="hideTool()">

                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">
                        Please enter the password
                    </div>
                </div>

                <label>Confirm Password:</label>
                <input matInput type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.confirmPassword.errors.required">
                        Please enter the confirm Password
                    </div>
                    <div *ngIf="f.confirmPassword.errors.mustMatch">
                        Passwords must match
                    </div>
                </div>
                <div class="update-pass">
                    <button>Update</button>
                </div>
            </div>
        </form>
    </div>
</div>
