.inner-form.forgot-pas {
    background: #fff;
    padding: 30px 30px;
    border-radius: 10px;
}
.forgot-pas input {
    border: 1px solid #ddd;
    border-radius: 30px;
    box-shadow: none;
    margin-bottom: 15px;
}
.change-pass {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    position: relative;
    background-position: center top !important;
}
.logo-hed {
    text-align: right;
    float: right;
    position: absolute;
    right: 40px;
    top: 12px;
    max-width: 179px;
}
.logo-hed img {
    width: 100%;
}
.inner-cont {
    display: block;
    float: left;
    background: #fff;
    max-width: 550px !important;
    width: 100%;
}
.change-pass:before {
    width: 100%;
    background: rgba(0, 0, 0, .65 );
    height: 100%;
    position: absolute;
    content: "";
}
.inner-cont {
    z-index: 9999;
    position: relative;
}
.update-pass button {
    color: #fff;
    font-weight: 700;
    background: linear-gradient(to right, #9d3aba, #e51197);
    border-radius: 50px;
    padding: 14px 44px;
    border: 0;
}