<div mat-dialog-content >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="login-popup">
                    <div class="overlay"></div>
                    <div class="container">
                        <form class="popup-feild">
                            <span class="cross" (click)="dismissModal()"><i class="fa fa-times" aria-hidden="true" ></i></span>
                            <div class="inner-form video-pp">
                                <video _ngcontent-coverr-redesign-c19="" playsinline=""  autoplay="autoplay" controls  src="{{videoUrl}}" class="ng-star-inserted" width="100%" height="100%" poster="assets/home-img/poster.jpg"></video>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
