<ngx-spinner></ngx-spinner>
<div mat-dialog-content >
    <div class="instruction">
        <div class="container">
            <div class="overlay"></div>
            <h2>
                Finding REAL Love, Requires REAL Intention
            </h2>
            <span class="cross" (click)="dismissModal()">
                <i class="fa fa-times" aria-hidden="true"></i>
            </span>
            <div class="inner-form">
                <p class="centr-alg">
                    Do you want to find real love and make it last? It starts with having a deeper understanding of yourself and others.
                </p>

                <p class="centr-alg">
                    We totally understand! You are crazy excited to start your search.So we’ll make a deal with you, you can start browsing profiles now, but the next time you log in you will need to re-take the quiz with great intentions and care.
                </p>

                <p class="centr-alg">
                    After all, finding the right partner to spend your life with is only the biggest decision of your life.
                </p>
                <button class="down" matInput type="button" (click)="goToSubscribe()">
                    Continue
                </button>
            </div>
        </div>
    </div>
</div>
