span.cross {
    position: absolute;
    right: -5px;
    top: -8px;
    background: #fff;
    border-radius: 100%;
    padding: 0px 6px;
    color: #9a3cbc;
    border: 1px solid;
}

.modal-body {
    /* position: relative; */
    padding: 0px !important;
}

.modal-content {
    border: 2px solid #fff;
}

.modal-dialog .container {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
}
p.really {
    margin-bottom: 10px !important;
}
/*=========================== Password Popup Css===============*/

.form-group input {
    width: 100%;
    border: 1px solid #ddd;
    padding: 12px 10px;
}
.form-group input:focus {
    outline: none;
}
.form-group.last {
    margin-left: 2%;
}
.form-group{
    width: 49%;
    float: left;
}

.password-popup {
    max-width: 500px;
    margin: 0 auto;
}


.password-popup h2 {
    font-size: 28px;
    color: #9e3aba;
    font-family: "Muli";
    font-weight: 700;
    margin-bottom: 18px;
    text-align: center;
}
.password-popup .form-group {
    width: 100%;
    float: none;
    margin-bottom: 24px;
}
.save-btn1 button{
    background: linear-gradient(to right,#e51197 , #9d3aba);
    color: #fff;
    border: 0;
    padding: 8px 53px;
    font-size: 20px;
    font-family: "Muli";
    font-weight: 700;
    border-radius: 30px;
}
.save-btn2 button{
    color: #222222;
    border: 0;
    padding: 8px 53px;
    font-size: 20px;
    font-family: "Muli";
    font-weight: 700;
    border-radius: 30px;
}
.buttons-pass {
    text-align: center;
    margin-top: 30px;
}
.buttons-pass span.save-btn2 {
    margin-right: 15px;
}

.invalid-feedback{
    position: absolute;
    display: block;
}

.pass-error {
    color: red;
    position: absolute;
    bottom: 63px;
}


/*=========================== Delete Profile Popup Css===============*/
.delet-profile p {
    margin: 0;
}

.delet-profile h2 {
    font-size: 28px;
    color: #9e3aba;
    font-family: "Muli";
    font-weight: 700;
    margin-bottom: 18px;
    text-align: center;
}

.delet-profile a {
    color: #007bff !important;
    text-decoration: none !important;
    background-color: transparent !important;
}
p.really {
    text-transform: uppercase;
}
.delet-profile {
    max-width: 500px;
    margin: 0 auto;
}
.delet-profile input {
    width: 100%;
    border: 1px solid #ddd;
    padding: 12px 10px;
}
.forgot-pass {
    text-align: right;
    margin-bottom: 30px;
}
.profile-pass {
    margin-top: 30px;
}
.forgot-pass a {
    color: #212529;
}
.save-btn1 button{
    background: linear-gradient(to right,#e51197 , #9d3aba);
    color: #fff;
    border: 0;
    padding: 8px 53px;
    font-size: 20px;
    font-family: "Muli";
    font-weight: 700;
    border-radius: 30px;
}
.save-btn2 button{
    color: #222222;
    border: 0;
    padding: 8px 53px;
    font-size: 20px;
    font-family: "Muli";
    font-weight: 700;
    border-radius: 30px;
}
.buttons-pass {
    text-align: center;
    margin-top: 30px;
}
.buttons-pass span.save-btn2 {
    margin-right: 15px;
}
p.ifyou {
    font-weight: 700;
    margin-top: 10px !important;
    display: block !important;
    font-size: 18px;
}
@media (min-width: 576px){
    .modal-dialog {
        max-width: 700px !important;
        margin: 0;
    }

}
@media(max-width: 900px){
    .modal-dialog.icon{
        margin: 10px;
    }
}
@media(max-width: 640px){
.save-btn1 button {
    padding: 8px 16px;
}
.save-btn2 button {
    padding: 8px 30px;
}
}
@media(max-width: 360px){
.buttons-pass span.save-btn2 {
    margin-right: 0;
}
.save-btn2 button {
    padding: 8px 42px;
    margin-bottom: 10px;
}
}