 /* Model css end */

 .popup-feild , .start-feild , .subscribe , .download{
    background: #fff;
    margin: 0 auto;
    /* border: 2px solid #fff; */
    border-radius: 4px;
    position: relative;
}
.popup-feild {
    border: 0px solid #fff;
}

/* .form-control.is-invalid{
    border-color: #dc3545 !important
} */
.download h2{
    background: linear-gradient(to right, #9d3aba, #e51197);
    text-align: center;
    color: #fff;
    font-size: 1.5625rem;
    font-weight: bold;
    padding: 6px 0 10px;
    margin-bottom: 0;
}


.inner-form {
    padding: 10px 0px;
}

.input-txt {
    margin-top: 0px;
}

span.cross {
    position: absolute;
    right: -5px;
    top: -8px;
    background: #fff;
    border-radius: 100%;
    padding: 0px 6px;
    color: #9a3cbc;
    border: 1px solid;
}


.popup-feild .form-group {
    width: 100%;
    display: inline-block;
    margin-bottom: 0;
    position: relative;
}

/*====================== Download ====================*/
.download h4 {
    text-align: center;
    margin-top: 25px;
    font-size: 26px;
    color: #222222;
    margin-top: 42px;
}

.download h3 {
    text-align: center;
    font-size: 40px;
    color: #222222;
    font-weight: bold;
    padding: 0 20px;
}

button.down {
    background: linear-gradient(to right, #9d3aba, #e51197);
    border-radius: 50px;
    padding: .5rem 3rem;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    border: 0;
    margin: 23px auto 0;
    text-align: center;
    display: block;
    text-transform: capitalize;
}

.download img {
    margin: 0 auto;
    text-align: center;
    display: block;
}

.download {
    padding-bottom: 20px;
}

.download .container {
    padding: 0;
}


@media(max-width:767px){
    .download img {
        width: 100%;
        padding: 0 23px;
    }
    span.cross {
        right: -6px;
        top: -6px;
    }
    .download-popup{
       margin: 15px;
    }
}