<div class="icon-model" mat-dialog-content>
    
    <div class="modal-dialog icon" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="overlay"></div>
                <span class="cross" (click)="dismissModal()">
                    <i class="fa fa-times" aria-hidden="true" ></i>
                </span>
                <div class="container">
                    <div class="password-popup" *ngIf="condition == 'changePassword'">
                        <h2>Enter New Password</h2>
                        <form [formGroup]="passForm" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <input matInput type="password" placeholder="Current Password" name="password"  formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" (input)="hideValidation()">

                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">
                                        Please enter the current password
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input matInput type="password" name="newpass" placeholder="New Password" formControlName="newpass" [ngClass]="{ 'is-invalid': submitted && f.newpass.errors }" #passwordField (keyup)="pressPass()" (focus)="showTool()" (focusout)="hideTool()">

                                <div *ngIf="submitted && f.newpass.errors" class="invalid-feedback">
                                    <div *ngIf="f.newpass.errors.required">
                                        Please enter the new password
                                    </div>
                                    <div *ngIf="f.newpass.errors.pattern">
                                        Please choose a strong password.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input matInput type="password" name="confirm-pass" placeholder="Repeat New Password" formControlName="confirm_pass" [ngClass]="{ 'is-invalid': submitted && f.confirm_pass.errors }">
                                <div *ngIf="submitted && f.confirm_pass.errors" class="invalid-feedback">
                                    <div *ngIf="f.confirm_pass.errors.required">
                                        Please enter repeat password
                                    </div>

                                    <div *ngIf="f.confirm_pass.errors.mustMatch">
                                        Passwords must match
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="showError && hideMessage == false" class="pass-error">{{showError}}</div>
                            <div class="buttons-pass">
                                <span class="save-btn2">
                                    <button type="button" (click)="dismissModal()">
                                        Cancel
                                    </button>
                                </span>
                                <span class="save-btn1">
                                    <button type="submit">
                                        Save
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>


                    <div class="delet-profile" *ngIf="condition == 'deleteProfile'">
                        <h2>Delete Profile</h2>
                        <form [formGroup]="deleteForm" (ngSubmit)="deleteUserProfile()">
                            <p class="really">do you really want to delete your profile?</p>
                            <p>All matches and contacts will be deleted.</p>
                            <p>Your profile will also be permanently deleted.</p>
                            <p class="ifyou">If you still want to delete your profile, please confirm your eharmony password</p>

                            <div class="profile-pass">
                                <input matInput type="password" formControlName="password" name="pass" placeholder="Password" [ngClass]="{ 'is-invalid': submittedDeleted && g.password.errors }" (input)="hideValidation()">

                                <div *ngIf="submittedDeleted && g.password.errors" class="invalid-feedback">
                                    <div *ngIf="g.password.errors.required">
                                        Please enter your password
                                    </div>
                                </div>
                            </div>
                            <div class="forgot-pass">
                            </div>
                            <div class="drop">
                                <select class="browser-default custom-select" formControlName="reason" [ngClass]="{ 'is-invalid': submittedDeleted && g.reason.errors }">
                                    <option [attr.selected]="true" disabled>Please Select Reason</option>
                                    <option *ngFor="let reason of reasonArray; let index = index;" [value]="reason.id">
                                        {{reason.reason}}
                                     </option>
                                </select>

                                <div *ngIf="submittedDeleted && g.reason.errors" class="invalid-feedback">
                                    <div *ngIf="g.reason.errors.required">
                                        Please select reason
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="showError && hideMessage == false" class="pass-error">{{showError}}</div>
                            <div class="buttons-pass">
                                <span class="save-btn2">
                                <button type="button" (click)="dismissModal()"> Cancel</button></span>
                                <span class="save-btn1"><button type="submit">Delete Profile</button></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
